{% extends 'base.html' %}

{% block content %}

    <p style="margin-top: 5%;margin-left: 24%;">It’s A Big World OutThere ,<br> Go to <span style="color: #8BD6C8;">Explore</span></p>
    <div class="welcome-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed deiusmod tempor incididunt ut labore et dolore magna <br>
            aliqua. Ut enim ad minim veniam, quis nostrud . </p>
            <button class="btn-welcome">More details </button>
            <div style="border: 1px solid #FFFFFF;
            width: 200px;margin-top: 14px;"></div>
            <div class="social-media-container">
              <img src="../static/images/appele.png" alt="">
              <img src="../static/images/fb.png" alt="">
              <img src="../static/images/google.png" alt="">
              <img src="../static/images/insta.png" alt="">
            </div>
    </div>
    
    <section class="ticket-section" style="background-color: #4450c0;padding: 12px;"> 
    
      <div id="ticket" class="container-ticket">
          <p class="ticket-header">Simulation tifos </p>
          <p class="ticket-desc">Live the moment as if it is real , and look at your stade if it was real</p>
          
      </div>
      <div class="tickett">
      <div class="affiche-ticket">
        
          <div class="ticketContainer">
            <a href="">
            <div class="simulI">
             <img src="../static/images/simul-tifou.png" alt="">
             <img src="../static/images/simul-tifou.png" alt="">
             <img src="../static/images/simul-tifou.png" alt="">
            
          </div>
        </a>
          </div>
        
      </div>
    </div>
    
    
    
    </section>
    
    
    <section class="ticket-section" style="background-image: linear-gradient(360deg, rgba(25, 36, 61, 1) 50%, rgb(67, 87, 209) 80%);padding: 12px;"> 
    
      <div id="ticket" class="container-ticket">
          <p class="ticket-header">Ads </p>
          <p class="ticket-desc">Live the moment as if it is real , and look at your ADS if it was real,  Take a look on your real ADS .</p>
        
      </div>
      <div class="tickett">
      <div class="affiche-ticket">
        
          <div class="ticketContainer">
            <a href="">
            <div class="adsI">
             <img  class="first-ads" src="../static/images/ads-dettol.png" alt="">
             <img class="third-ads" src="../static/images/orange-ad.png" alt="">
            <img src="../static/images/coc-ad.png" class="fourth-ads" alt="">
           
          </div>
        </a>
          </div>
        
      </div>
    </div>
    
    </section>
    
    <section class="ticket-section" style="background-color: rgba(25, 36, 61, 1);padding: 12px;"> 
    
      <div id="ticket" class="container-ticket">
          <p class="ticket-header">Feedbacks </p>
          
      </div>
      <div class="feed">
      <div class="affiche-ticket">
        
          <div class="feedcontainer">
            
            <div class="ticketI">
             <img src="../static/images/quotes.svg" alt="">
              <p>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna . 
              </p>
            <img  style="width: 44px;
            height: 44px;border-radius: 50%" src="../static/images/p1.jpg" alt="">
            <img style="    margin-bottom: 11px;
            margin-left: 44px;
            width: 164px;" src="../static/images/stars.svg" alt="">
          </div>
          <div class="ticketI">
            <img src="../static/images/quotes.svg" alt="">
             <p>Lorem ipsum dolor sit amet, consectetur 
               adipiscing elit, sed do eiusmod tempor 
               incididunt ut labore et dolore magna . 
             </p>
           <img  style="width: 44px;
           height: 44px;border-radius: 50%;" src="../static/images/p2.jpg" alt="">
           <img style="    margin-bottom: 11px;
           margin-left: 44px;
           width: 164px;" src="../static/images/stars.svg" alt="">
         </div>
         <div class="ticketI" >
          <img src="../static/images/quotes.svg" alt="">
           <p>Lorem ipsum dolor sit amet, consectetur 
             adipiscing elit, sed do eiusmod tempor 
             incididunt ut labore et dolore magna . 
           </p>
         <img  style="width: 44px;
         height: 44px;border-radius: 50%;" src="../static/images/p3.jpg" alt="">
         <img style="    margin-bottom: 11px;
         margin-left: 44px;
         width: 164px;" src="../static/images/stars.svg" alt="">
       </div>
          </div>
        
      </div>
    </div>
    </section>
    <div class="before-footer" style="background-color: rgba(25, 36, 61, 1);padding-top: 12px;">
      <p>We bring the world, <br>right to your home</p>
      <span>Sign up for our newsletter to get new offers!
      </span>
      <input type="text" name="" placeholder="Email">
    </div>
    
    <!-- <footer id="footer">
      <div class="line">
      </div>
     <div class="section">
       <div class="container">
         <div class="row">
           <div class="col-md-6 mt-md-0 mt-3">
             <div class="footer">
               <div class="logo-footer">
                 <a routerLink="/" >
                   <img src="../../../assets/img/animateitlogo.png" alt="">
                 </a>
               </div>
               <p style="  font-family: 'neueRadial-A-Light';">Animate it is a new technology service founded on 2O22 in Morocco, all<br> services provided are produced and designed by the company and are<br> made with passion. The company also has delightful and beautifully <br>crafted icons for common actions and items. Download now our app<br> to have access to over 12 different services and use them  in your <br>digital products for Android, iOS, and web.</p>
             </div>
           </div>
    
           <div class="col-md-3 col-xs-6">
             <div class="footer">
               <h3 class="footer-title">Services</h3>
               <ul class="footer-links">
                 <li><a href="#">Digital tifos</a></li>
                 <li><a href="#">Digital Ads</a></li>
                 <li><a href="#">Solution implementation</a></li>
               </ul>
             </div>
             <div class="footer">
               <h3 class="footer-title">Shop</h3>
               <ul class="footer-links">
                 <li><a href="#">Games tickets</a></li>
                 <li><a href="#">Games replay</a></li>
                 <li><a href="#">Games footages</a></li>
                 <li><a href="#">Accessories</a></li>
               </ul>
             </div>
           </div>
    
           <div class="col-md-3 col-xs-6">
             <div class="footer">
               <h3 class="footer-title">News</h3>
               <ul class="footer-links">
                 <li><a href="#">Forum</a></li>
                 <li><a href="#">News</a></li>
                 <li><a href="#">Experiences</a></li>
                 <li><a href="#">Careers</a></li>
               </ul>
             </div>
             <div class="footer">
               <h3 class="footer-title">Account</h3>
               <ul class="footer-links">
                 <li><a href="#">Manage your account</a></li>
                 <li><a href="#">My tickets</a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
      <div class="icons">
      <ul class="actions">
        <li><a href="#">
          <img src="../../../assets/img/frame1.png" alt="">
        </a></li>
        <li><a href="#">
          <img src="../../../assets/img/frame2.png" alt="">
        </a></li>
        <li><a href="#">
          <img src="../../../assets/img/frame3.png" alt="">
        </a></li>
      </ul>
      </div>
      <div class="line1">
    
      </div>
    
      <table>
        <tr>
          <td><div id="copyright"><p>Copyright © 2022 Animate it Inc. All rights reserved.</p></div></td>
          <td><div id="privacy"><p>Privacy Policies</p></div></td>
          <td><div id="service"><p>Terms of service</p></div></td>
        </tr>
      </table>
    
    
    </footer> -->
{% endblock %}
